---
import Layout from "../layouts/Layout.astro";

const baseUrl = import.meta.env.BASE_URL;
---

<Layout>
  <main>
    <div class="container">
      <img
        src={`${baseUrl}assets/sigilism.svg`}
        class="sigils"
        alt="Sigilism"
      />
      <img
        src={`${baseUrl}assets/sigilism.svg`}
        class="sigils"
        style="transform: scaleX(-1);"
        alt="Sigilism"
      />
    </div>
  </main>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
  }

  .sigils {
    width: 45%;
    height: 50%;
    object-fit: cover;
	user-select: none;
	-webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

  /*
	#d1d1d1 -> Text
	#0F0F0F -> Background
	#43119a -> Primary
	#dedcff -> Secondary
	#922dff -> Accent
	*/
</style>
