---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <div class="container">
      <img
        src="/assets/sigilism.svg"
        class="sigils"
        alt="Sigilism"
      />
      <img
        src="/assets/sigilism.svg"
        class="sigils"
        style="transform: scaleX(-1);"
        alt="Sigilism"
      />
    </div>
  </main>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
  }

  .sigils {
    width: 40%;
    height: 50%;
    object-fit: cover;
  }

  /*
	#d1d1d1 -> Text
	#0F0F0F -> Background
	#43119a -> Primary
	#dedcff -> Secondary
	#922dff -> Accent
	*/
</style>
