---
import Layout from "../layouts/Layout.astro";

const baseUrl = import.meta.env.BASE_URL;
const version = Date.now(); // This will change on each build
---

<script src={`${baseUrl}assets/indexAnimations.js`}></script>

<Layout>
  <main>
    <div class="container" style="margin-top: 6.5rem;">
      <img src={`${baseUrl}assets/sigilism.svg`} class="sigils" />
      <img
        src={`${baseUrl}assets/sigilism.svg`}
        class="sigils"
        style="transform: scaleX(-1);"
      />
    </div>
    <div class="container content">
      <p>hello there</p>
    </div>
  </main>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    padding: 2rem;
  }

  .sigils {
    width: 50%;
    height: 60%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

  /*
	#d1d1d1 -> Text
	#0F0F0F -> Background
	#43119a -> Primary
	#dedcff -> Secondary
	#922dff -> Accent
	*/
</style>
