<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/assets/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Sterben</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: auto;
		background: #0F0F0F;
		color: #D1D1D1:
	}
</style>
